[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
bandit = "*"
black = "==24.3.0"
pylint = "*"

[requires]
python_version = "3.8"
